// UI Colors
$header-bg: #4a4a4a;

  // Toolbar
  $toolbar-button-color: #808080;
  $toolbar-button-bg: #222222;

// HTTP Colors
$http-get: #2392F7;
$http-post: #13C20F;
$http-delete: #E30012;
$http-patch: #FFDC00;
$http-default: #949493;
$http-put: #FF9000;
$http-options: #BDC3C7;
$http-head: #4AE597;
$http-trace: #BDC3C7;

// Gray Colors
$gray-lt: #E3E3E3; 
$gray-dk: #808080;

