@import "fonts";

.ace-editor{
  @extend .editor-font;
 	font-size: .8em;
 	//font-weight: 300; 
  .editor-error-message {
    padding: .3em;
    background: #AA0A0A;
    color: white;
    max-height: 5.6em;
    pre {
	font-size: 1em;
    }
  }

  * {
  	@extend .editor-font;
  }

}

