@import "fonts";

.ace-editor{
	font-family: "Source Code Pro";
 	font-size: .8em;
 	font-weight: 300; 
  .editor-error-message {
    padding: .3em;
    background: #AA0A0A;
    color: white;
    max-height: 5.6em;
    pre {
	font-size: 1em;
	font-family: "Source Code Pro";
    }
  }

  * {
  	font-family: "Source Code Pro";  	
  }

}

