.errorBox {
  position: relative;
  font-family: "Source Code Pro";
  line-height: 120%;
  max-width: 420px;
  height: 9.0px;
  background-color: #ffd8d8;
  border: 1px solid #e70000;
  border-radius: 3px;
  margin: 50% auto;
}

.errorArrow {
  position: absolute;
  background-image: url(../images/errorArrow.png);
  background-repeat: no-repeat;
  top: 20px;
  left: -70px;
  width: 80px;
  height: 60px;
}

.errorTitle {
  font-size: .9em;
  background-color: #f1a0a0;
  color: #9b0000;
  padding: 10px;
  top-left-border-radius: 3px;
  top-right-border-radius: 3px;
}

.error {
  padding: 10px;
  font-size: .9em;
}