@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(../fonts/Source_Code_Pro_400.woff) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/Open_Sans_400.woff) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.editor-font {
	font-weight: 300;
}

.pre-font {
	font-family: monospace;
}

.sw-font {
	font-family: "Open Sans";
	font-weight: 400;
}

.sw-font-heavy {
	.sw-font;
	font-weight: 700;
}

.sw-font-med {
	.sw-font;
	font-weight: 600;
}

.sw-font-light {
	.sw-font;
	font-weight: 300;
}
