.monospace {
	font-family: "Source Code Pro";
}

.pre {

}

.sw-font {
	font-family: "Open Sans";
	font-weight: 400;
}

.sw-font-heavy {
	@extend .sw-font;
	font-weight: 700;
}

.sw-font-med {
	@extend .sw-font;
	font-weight: 600;
}

// .sans-semibold {
// 	@extend .sans;
// 	font-weight: 400;
// }

.sw-font-light {
	@extend .sw-font;
	font-weight: 300;
}