.editor-font {
	font-family: "Source Code Pro";
	font-weight: 300;
}

.pre-font {
	font-family: monospace;
}

.sw-font {
	font-family: "Open Sans";
	font-weight: 400;
}

.sw-font-heavy {
	@extend .sw-font;
	font-weight: 700;
}

.sw-font-med {
	@extend .sw-font;
	font-weight: 600;
}

.sw-font-light {
	@extend .sw-font;
	font-weight: 300;
}