header.main-header {
  height: 40px;
  background: #505050;
  color: #eee;
  display: flex;

  >h1 {
    padding: .3em .3em .3em 1.9em;
    font-size: 24px;
    text-transform: lowercase;
    font-family: "Droid Sans";
    font-weight: 700;
  }

  .toolbar {
    padding: .8em;
    font-size: .8em;

    button {
      border: none;
      background: white;
    }

    &.panel-switcher {
      position: absolute;
      right: 50px;
      a {
        margin-right: .3em;
        text-decoration: none;
        font-size: 10px;
        cursor: pointer;
        transition: color ease-in 100ms;
        &.active {
          color: #000;
        }
      }
    }
  }

  .generation {
  		display: none;
  }
}

header.editor-header {
  .toolbar{
    display: flex;
    background: #eee;
    section {
      flex: 1;
      display: flex;
      &.left {
        justify-content: flex-start;
      }
      &.right {
        justify-content: flex-end;
      }
    }

    .btn-drawer {
      display: inline-block;
      position: relative;
      .buttons{
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        z-index: 5;
        background: #EEE;
        margin: 0;
      }
    }
    .toolbar-btn {
      display: inline-block;
      border: 1px solid gray;
      border-radius: 3px;
      text-align: center;
      color: gray;
      outline: none;
      background: #eee;
      min-width: 120px;
      span {
        font-size: .8em;
      }
      &.menu-button {
        display: block;
        border: none;
      }
    }
  }
}
