$splitter-width: 4px;

@import "reset";
@import "colors";
@import "header";
@import "editor";
@import "errorMsg";
@import "directives";

html, body {
  height: 100vh;
  font-family: sans-serif;
}


/*
  Layout
*/
header.main-header {
/*  background-image: url("/images/swagger_small.png"); */
  background-repeat: no-repeat;
  background-position: 10px 5px;
}

main.container {
  position: relative;
  height: calc(100vh - 40px);

  .pane {
    position: absolute;
    height: 100%;
    width: calc(50% - 2px);

    &.ace {
      left: 0;
      display: flex;
      flex-direction: column;
      header.editor {
        height: 20px;
      }
      .editor-wrapper {
        flex: auto;
      }
      // .help-drawer {
      //   height: 300px;
      //   overflow: auto;
      //   .content {
      //     margin: 5px;
      //   }
      // }
      .ace-editor-wrapper {
        // height: calc(100% - 300px);
        height: 100%;
        display: flex;
        flex-direction: column;
      }
    }

    &.splitter {
      width: 4px;
      background: black;
      left: calc(50% - 4px);
      cursor: ew-resize;
      z-index: 10;
      &:hover {
        background: #C99393;
      }

      &[horizontal]{
        width: 100%;
        left: 0;
        height: 4px;
        cursor: ns-resize;
      }
    }

    &.preview {
      right: 0;
      overflow: auto;
      .swagger-section {
        padding: .5em 1em
      }
      .json-section {
        &, .editor-wrapper {
          height: 100%;
        }
      }
    }
  }


}
