@import "reset";
@import "header";
@import "editor";
@import "swagger-reset";
@import "swagger";

html, body {
  height: 100vh;
  font-family: sans-serif;
}


/*
  Layout
*/

header.main-header {
  max-height: 44px;
  background-image: url("/images/swagger_small.png");
  background-repeat: no-repeat;
  background-position: 10px 5px;
}

main.container {
  position: relative;
  height: calc(100vh - 40px);
  $splitter-width: 4px;

  .pane {
    position: absolute;
    height: 100%;
    // width: calc(50% - $splitter-width / 2);
    width: calc(50% - 2px);

    &.ace {
      left: 0;
      display: flex;
      flex-direction: column;
      header.editor {
        height: 20px;
      }
      .editor-wrapper {
        flex: auto;
      }
    }

    &.splitter {
      width: $splitter-width;
      background: black;
      left: calc(50% - 4px);
      cursor: ew-resize;
      &:hover {
        background: #C99393;
      }
    }

    &.preview {
      right: 0;
      overflow: auto;
      .swagger-section {
        padding: .5em 1em
      }
      .json-section {
        &, .editor-wrapper {
          height: 100%;
        }
      }
    }
  }


}
