@import "reset";
@import "header";
@import "editor";
@import "swagger-reset";
@import "swagger";

html, body {
  height: 100vh;
  font-family: sans-serif;
}


/*
  Layout
*/

header.main-header {
  max-height: 40px;
}

main.container {
  display: flex;


  .pane {
    height: calc(100vh - 40px);
    flex: 1;

    &.ace {
      display: flex;
      flex-direction: column;
      header.editor {
        height: 20px;
      }
      .editor-wrapper {
        flex: auto;
      }
    }

    &.preview {
      overflow: auto;
      padding: .5em 1em
    }
  }


}