.menu-bar {
  $border-radius: 3px;
  $button-forn-size: 15px;

  width: 100%;

  .toolbar{
    min-height: 30px;
    padding: 0 15px 5px 15px;
    section {
      &.left {
        float: left;
      }

      &.right {
        float: right;
      }
    }

    .btn-drawer {
      display: inline-block;
      position: relative;

      .buttons {
        font-size: 0;
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        z-index: 5;
        margin: 0;

        .toolbar-btn{
          border-radius: 0;
          padding-top: 0.5em;
          padding-bottom: 0.5em;
        }
      }

      .toolbar-btn {
        border: none;
        display: block;
        margin: 0;
      }

      &:hover {
        >.toolbar-btn {
          background: #000;
        }
        div.buttons {
          display: block;

          &, .toolbar-btn:last-child {
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
          }
        }
      }

      &:hover .drawer{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .toolbar-btn {
      display: inline-block;
      -webkit-appearance: none;
      border: 1px solid gray;
      border-radius: $border-radius;
      text-align: left;
      color: #808080;
      text-decoration: none;
      font-size: $button-forn-size;
      margin-top: 5px;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
      outline: none;
      cursor: pointer;
      background: #252525;
      min-width: 124px;

      &:hover {
        color: #444;
        text-decoration: none;
        border-radius: $border-radius;
        background: #383838;
      }

      span {
        font-size: .5em;
        float: right;
        margin-right: $border-radius;
        margin-top: 4px;
      }

      &.menu-button {
        display: display;
        border: none;
      }

      &:hover {
        color: #8a8a8a;
        background: #3d3d3d;
        transition: background 0.2s ease;
      }
    }
  }

  .grouped-buttons {
    display: inline-block;
    font-size: 0;

    .toolbar-btn, .toolbar-btn:hover{
      text-align: center;
      min-width: 40px;
      margin: 0;
      font-size: $button-forn-size;
      border-radius: 0;

      &.selected {
        background: #8A8A8A;
        color: #000;
      }

      &:first-child {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }

      &:last-child {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }
  }

}
