@import "colors";
@import "fonts";

.menu-bar {
  $border-radius: 3px;
  $button-font-size: 15px;
  @extend .sw-font;
  width: 100%;

  .toolbar{
    min-height: 30px;
    padding: 0 15px 5px 15px;
    section {
      float: left;

      &.right {
        float: right;
        margin-right: 120px;
      }
    }

    .btn-drawer {
      display: inline-block;
      position: relative;
      margin-right: 0.4em;

      .buttons {
        font-size: 0;
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        z-index: 5;
        margin: 0;

        .toolbar-btn{
          border-radius: 0;
          padding: 0.5em;
        }
      }

      .toolbar-btn {
        border: none;
        display: block;
        margin: 0;
      }

      &:hover {
        >.toolbar-btn {
          background: #000;
        }
        div.buttons {
          display: block;

          &, .toolbar-btn:last-child {
            border-bottom-left-radius: $border-radius;
            border-bottom-right-radius: $border-radius;
          }
        }
      }

      &:hover .drawer{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .toolbar-btn, .btn-default {
      display: inline-block;
      -webkit-appearance: none;
      border: 1px solid $gray-md;
      border-radius: $border-radius;
      text-align: left;
      color: $toolbar-button-color;
      text-decoration: none;
      font-size: $button-font-size;
      margin-top: 5px;
      padding-top: 0.3em;
      padding-bottom: 0.3em;
      outline: none;
      cursor: pointer;
      background: $toolbar-button-bg;
      min-width: 140px;

      &:hover {
        text-decoration: none;
        border-radius: $border-radius;
        background: lighten($toolbar-button-bg, 10%);
      }

      span {
        font-size: .5em;
        float: right;
        margin-right: $border-radius;
        margin-top: 4px;
      }

      &.menu-button {
        display: display;
        border: none;
      }
    }
  }

  .grouped-buttons, .btn-group {
    display: inline-block;
    font-size: 0;

    .left {
        background-repeat: no-repeat;
      }

    .toolbar-btn, .toolbar-btn:hover, .btn-default {
      text-align: center;
      min-width: 38px;
      height: 24px;
      margin: 0;
      font-size: $button-font-size;
      background: lighten($gray-dk, 70%);
      border-radius: $border-radius;

      &.selected {
        background: lighten($toolbar-button-bg, 7%);

        &[disabled="disabled"] {
          cursor: default;
        }
      }

      &:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        background-image: url(/images/hideEditor.svg);
        background-repeat: no-repeat;
        background-position: 9px 0px;
      }

      &:last-child {
        margin-left: -1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-image:url(/images/hidePreview.svg);
        background-repeat: no-repeat;
        background-position: 7px 0px;
      }

    }

  }
}

.breadcrumbs .breadcrumb {
  // TODO: colors
  background: none;
  color: white;

  > li + li:before {
    content: ">";
  }
  
    li > a {
      color: white;

      &:hover {
      color: $http-get;
      text-decoration: none;
    }
  }
  
}
