{
  "extends": [
    "react-app",
    "react-app/jest",
    "airbnb",
    "airbnb-typescript",
    "plugin:cypress/recommended",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "File": true,
    "Blob": true,
    "globalThis": true,
    "__webpack_hash__": true,
    "REACT_APP_APIDOM_WORKER_FILENAME": true,
    "REACT_APP_EDITOR_WORKER_FILENAME": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "tsconfig.json"
  },
  "plugins": [
    "jsx-a11y",
    "prettier",
    "@typescript-eslint"
  ],
  "rules": {
    "import/order": ["error", {
      "groups": [
        ["builtin", "external", "internal"],
        ["parent", "sibling", "index"]
      ],
      "newlines-between": "always"
    }],
    "no-nested-ternary": "off",
    "prettier/prettier": "error",
    "react/react-in-jsx-scope": 0,
    "react/require-default-props": "off",
    "react/function-component-definition": [1, {
      "namedComponents": ["arrow-function"]
    }],
    "import/extensions": ["error", "always", {
      "ignorePackages": true
    }],
    "import/no-unresolved": [2, {
      "ignore": [
        // https://github.com/import-js/eslint-plugin-import/issues/1810
        "^monaco-marker-data-provider$",
        "^plugins\/.+\/index.js",
        "^presets\/.+\/index.js",
        "^@codingame\/monaco-vscode-api",
        "^@swagger-api\/apidom-json-pointer"
      ]
    }]
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "import/extensions": "off",
        "import/no-unresolved": "off"
      }
    },
    {
      "files": ["*.js"],
      "rules": {
        "@typescript-eslint/return-await": "off"
      }
    },
    {
      "files": ["globals.d.ts"],
      "rules": {
        "vars-on-top": "off",
        "no-var": "off"
      }
    }
  ]
}
