{
  "parser": "@babel/eslint-parser",

  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest/globals": true
  },

  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "extends": ["eslint:recommended", "plugin:react/recommended"],

  "plugins": ["react", "import", "mocha", "jest"],

  "settings": {
    "react": {
      "version": "17.0.2"
    }
  },

  "rules": {
    "semi": [2, "never"],
    "strict": 0,
    "quotes": [2, "double", { "allowTemplateLiterals": true }],
    "no-unused-vars": 2,
    "no-multi-spaces": 1,
    "camelcase": 1,
    "no-use-before-define": [2, "nofunc"],
    "no-underscore-dangle": 0,
    "no-unused-expressions": 1,
    "comma-dangle": 0,
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "react/jsx-no-bind": [1, { "allowArrowFunctions": true }], // TODO: make this an error
    "react/display-name": 0,
    "import/no-extraneous-dependencies": [2],
    "no-useless-escape": 1,
    "mocha/no-exclusive-tests": 2
  }
}
