*
*/
!README.md
!NOTICE
!package.json
!dist/swagger-editor.js
!dist/swagger-editor.js.map
!dist/swagger-editor-bundle.js
!dist/swagger-editor-bundle.js.map
!dist/swagger-editor-es-bundle.js
!dist/swagger-editor-es-bundle.js.map
!dist/swagger-editor-es-bundle-core.js
!dist/swagger-editor-es-bundle-core.js.map
!dist/swagger-editor.css
!dist/swagger-editor.css.map
!dist/validation.worker.js
!dist/validation.worker.js.map
