/.idea/
/.github/
/.husky/
/build/
/public/
/docs/
/node_modules/
/test/
/src/
/create-react-app/
/.nvmrc
/.lintstagedrc
/.eslintignore
/.env
/.prettierrc
/.releaserc
/.gitmodules
/.dockerignore
/.browserslistrc
/.commitlintrc.json
/cypress.config.js
/Dockerfile
/Dockerfile.unprivileged
/.eslintrc
/.gitattributes
/.editorconfig
/swagger-api-swagger-editor-*.tgz
