/.idea/
/.github/
/.husky/
/build/
/public/
/docs/
/node_modules/
/test/
/src/
/create-react-app/
/.nvmrc
/.lintstagedrc
/.eslintignore
/.env
/.prettierrc
/.releaserc
/.whitesource
/.gitmodules
/.dockerignore
/.browserslistrc
/.commitlintrc.json
/cypress.json
/Dockerfile
/.eslintrc
/.editorconfig
/swagger-ide-*.tgz
/whitesource.config
