@import "../fonts";
@import "../colors";


.modal-dialog {
  width: 100%;
  height: 100%;
  padding: 0;
  margin:0;

  .modal-content {
    background: none;
  }
}




.about-pane {
  position: relative;
  color: $overlay-text;
  //border: 10px solid green;


  h1.overlay-title {
    font-size: 3em;
    text-align: center;
    @extend sw-font-light;
  }

  .modal-body {
    position: absolute;
    top: 50%;
    left: 30%;
    background: transparent;
  }

}