.apigee-127 {

  section.left {

    span.caret {
        color: white;
        float: right;
        margin-top: 14px;
        //margin-left: 10px;
      }

    a.dropdown-icon-apigee {
      background-image: image-url("apigee-logo.svg");
      background-repeat: no-repeat;
      background-position: 0 -3px;
      background-size: 90px;
      height: 30px;
      width: 100px;
      display: block;
      cursor: pointer;
    }
  }

	header.main-header {

  }

  .brandRight {
      //margin-right: 100px;
      //float: right;
      //float:left;
      display: inline-block;

      .btnDiv {
        display: inline-block;
        //float: left;
      }
  }

}