@import "../colors";
@import "../fonts";
@import "../buttons";


.menu-bar {

  //TODO: Everything is hardcoded. revisit
  .status {
    position: absolute;
    width: 315px;
    left: 50%;
    margin-left: -150px;
    text-align: left;
    top: 10px;
    padding: 7px 2px;
    color: $gray-lt;
    font-size: 1.1em;
    @extend .sw-font;

    &.success {
      color: $gray-md;
    }

    &.error {
      background-image: image-url("warning.svg");
      background-repeat: no-repeat;
      background-position: 0px 5px;
      padding-left: 22px;
      color: $sw-error-header;
    }
  }

  @extend .sw-font;
  width: 100%;

    //dropdown styling
    .dropdown {

      display: inline-block;

      a.dropdown-icon {
        background-image: image-url("swagger-sprite.png");
        background-repeat: no-repeat;
        background-position: 4px 0px;
        height: 32px;
        margin-top: 0;
        display: block;
        width: 44px;
        cursor: pointer;


        &:hover {
          background-image: image-url("swagger-sprite.png");
          background-position: 4px -33px;
        }
      }
    }

    .dropdown:hover .dropdown-menu {
      display: block;
    }

    ul.dropdown-menu  {
      border-radius: $border-radius;
      color: $toolbar-button-color;
      background: $toolbar-button-bg;
      font-size: $button-font-size;

      .divider {
        background-color: $gray-md;
      }

      li {

        a {
          color: $toolbar-button-color;

          &:hover {
            background: lighten($toolbar-button-bg, 10%);
          }
        }
      }
    }

    .toolbar {
      min-height: 30px;
      padding: 0 15px 5px 15px;
      section {
        float: left;

        &.right {
          float: right;

          ul.dropdown-menu {
            min-width: 210px;
          }
        }

      }

      .btn-drawer {
        display: inline-block;
        position: relative;
        margin-right: 0.4em;

        .toolbar-btn {
          border: none;
          display: block;
          margin: 0;
        }

        &:hover {
          >.toolbar-btn {
            background: #000;
          }
          div.buttons {
            display: block;

            &, .toolbar-btn:last-child {
              border-bottom-left-radius: $border-radius;
              border-bottom-right-radius: $border-radius;
            }
          }
        }

        &:hover .drawer{
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      .btn-default {
        display: inline-block;
        -webkit-appearance: none;
        border: 1px solid $gray-md;
        border-radius: $border-radius;
        text-align: left;
        color: $toolbar-button-color;
        text-decoration: none;
        font-size: $button-font-size;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        outline: none;
        cursor: pointer;
        background: $toolbar-button-bg;
        min-width: 140px;

        &:hover {
          text-decoration: none;
          border-radius: $border-radius;
          background: lighten($toolbar-button-bg, 10%);
        }

        span {
          font-size: .5em;
          vertical-align: middle;
          margin-left: 76px;
        }

        &.menu-button {
          display: display;
          border: none;
        }
      }
    }
  }

  .breadcrumbs .breadcrumb {
  // TODO: colors
  background: none;
  color: white;
  margin-left: 20px;

  > li + li:before {
    content: ">";
  }

  li > a {
    color: white;

    &:hover {
      color: $http-get;
      text-decoration: none;
    }
  }


}
