@import "../colors";
@import "../fonts";
@import "../buttons";

.menu-bar .dropdown{
  display: inline-block;

  .dropdown-toggle {
    border-radius: 0;
    background: none;
    border: none;
    color: white;
  }

  .dropdown-menu {
    border-radius: 0;
    border: none;
    box-shadow: none;

    &, * {
      background: @header-bg;
    }

    .divider {
      background: lighten(@header-bg, 30%);
    }

    a, button {
      color: white;

      &:hover {
        background: darken(@header-bg, 5%);
      }
    }
  }
}

