@import "../colors";

@import "colors";
@import "fonts";

@mixin operation-theme($color) {
  border: 1px solid $color;
  background: #fff;

  .http-method{
    background: $color;
    color: white;
  }
  >header {
    background: rgba($color, 0.1);
  }
  h4 {
    color:$color;
  }
}



li.operation {
  $operation-border-radius: 3px;
  margin: 0.4em 0em 1em 1em;
  border-radius: $operation-border-radius;
  @extend .sw-font;

  >header {
    overflow: hidden;
    cursor: pointer;
    display: table;
    width: 100%;
    min-height: 31px;

    .http-method  {
      @extend .sw-font-light;
      font-size: 0.9em;
      padding: .6em .5em;
      display: table-cell;
      float: left;
      border-top-left-radius: $operation-border-radius - 2;

      margin-right: .4em;
      min-width: 68px;
      text-align: center;
    }

    .summary {
      padding: .4em;
      display: table-cell;
      font-size: 0.9em;
      vertical-align: middle;
      float: left;
    }
  }

  @include operation-theme($http-default);
  &.get { @include operation-theme($http-get); }
  &.post { @include operation-theme($http-post); }
  &.delete { @include operation-theme($http-delete); }
  &.patch { @include operation-theme($http-patch); }
  &.put { @include operation-theme($http-put); }
  &.options { @include operation-theme($http-options); }
  &.head { @include operation-theme($http-head); }
  &.trace { @include operation-theme($http-trace); }


  .content >section {
    margin: 1em;
    font-family: "Open Sans";
    font-size: 0.9em;


    >h4 {
      font-size: 1em;
      font-family: "Open Sans";
      font-weight: 600;
    }

    >div {
      margin: .3em 0 .5em;
      line-height: 120%;
    }
  }

  table.params, table.respns {
    width: 100%;

    >thead {
      >tr {

        >th {
          padding: 0.3em;
          font-size: .8em;
          font-weight: 600;
          background-color: #f7f7f7;

          &:last-child {
            min-width: 300px;
          }
        }
      }
    }

    >tbody {
      >tr {
        border-bottom: 1px solid silver;
        font-size: 0.8em;

        >td {
          padding: 0.3em;

          // remove margin for schema in operation tables
          .schema-model {
            margin-left: 0;
          }

          &.mono {
            font-family: "source code pro";
            font-weight: bold;
            font-size: 1.0em;
            white-space: pre;
          }

          span.resp-code {
            border-radius: 3px;
            color: $code-default;
            padding: 3px 0;
            font-size: 1.1em;
            letter-spacing: 0.5px;
            font-weight: 700;
            display: inline-block;

            &.green { color: $code-200; }
            &.red { color: $code-500; }
            &.blue { color: $code-300; }
            &.yellow{ color: $code-400; }
          }
        }
      }
    }
  }

  &.collapsed {
    .content {
      display: none;
    }
  }

  &.hidden {
    display: none;
  }
}
