@import "colors";
@import "fonts";

.info {
  @extend .sw-font;
  margin-bottom: 1em;

  .info-container {
    background-color: lighten($gray-lt, 9%);
    padding: 0 10px;
    transition: height ease-in .3s;

    &.collapsed {
      height: 0 !important;
      overflow: hidden;
    }
  }

  .info-header {
    display: table;

    >h1, .collapse-togglers {
      display: table-cell;
    }
  }

  h1 {
    font-size: 1.2em;
    @extend .sw-font-light;
    display: table-cell;
    margin-top: 0px;

    &:hover {
      cursor: pointer;
    }
  }

  p {
    font-size: .9em;
    display: table-cell;
    width: 100%;
    @extend .sw-font-light;
    line-height: 1.3em;
    float: left;
    margin-bottom: 1em;
  }

  h4 {
    margin-bottom: 0;
    font-size: 1em;
    @extend .sw-font-med;

    &:last-child {
      margin-bottom: 0;
    }
    > span {
      @extend .sw-font-light;
    }
  }

}
