@import "../colors";
@import "../fonts";

.section-header {
  a { cursor: pointer;
	color: $gray-dk;
	@extend .sw-font;

	&:hover {
		text-decoration: none;
		border-bottom: 1px dotted silver;
	}
  }
}
