@import "../colors";
@import "../fonts";

.preview.pane {
  @extend .sw-font;

  .section-header {
    a {
      cursor: pointer;
      color: $gray-dk;

      &:hover {
        text-decoration: none;
        border-bottom: 1px dotted silver;
      }
    }
  }

  .section-content {
    margin-left: 10px;

    li.path {
      margin-bottom: 20px;
    }
  }
}
