.tooltip {
  .tooltip-inner {
    border-radius: 0;
  }
  &.left {
    transform: translateY(5px);
    .tooltip-arrow {
      right: 1px;
      top: 40%;
    }
    > * {
      white-space: pre;
    }
  }
}
