@import "colors";

.error-presenter {
  background: lighten($sw-error-header, 41%);
  font-family: "Open Sans";

  header {
    background: $sw-error-header;
    color: white;
    cursor: pointer;
    margin: 0;

    h4 {
      display: inline-block;
      padding: 0em .5em;
      font-weight: 300;
    }
  }

  .details {
    padding: .5em;

    h5 {
      font-weight: 600;
      margin-bottom: .3em;
    }

  p {
    line-height: 125%;
    font-size: .9em;
  }

    pre {
      white-space: pre;
      font-family: "Source Code Pro";
      word-wrap: normal;
    }

    &.c-w-collapsed {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
