// TODO: Mike, please make Modals look belong to the app

@import "../buttons";
@import "../colors";
.modal-dialog .modal-content {
  border-radius: 3px;
  background: $gray-dk;
  color: #FFF;
  font-family: "Open Sans";
  font-weight: 300;

  .modal-header {
    font-size: 1.2em;
    border-bottom: 1px solid $gray-md;
  }

  .modal-body {
    
  }

  .modal-footer {
    border-top: 1px solid $gray-md;
    .btn.btn-primary {
      @extend .bs-button-override;
    }
    .btn.btn-warning {
      @extend .bs-button-override;
      background-color: #303030;
      border: 1px solid $gray-md;
      &:hover {
        background-color: darken($gray-lt, 80%);
      }
    }
  }
}
