// TODO: Mike, please make Modals look belong to the app

@import "../buttons";
@import "../colors";
.modal-dialog .modal-content {
  border-radius: 3px;
  background: #303030;
  color: #FFF;
  font-family: "Open Sans";

  .modal-header {
    font-size: 1.2em;
    font-weight: 400;
  }

  .modal-body {

  }

  .modal-footer {
    .btn.btn-primary {
      @extend .bs-button-override;
    }
    .btn.btn-warning {
      @extend .bs-button-override;
      background-color: #303030;
      border: 1px solid $gray-dk;
    }
  }
}
