@import "../colors";

@mixin operation-theme($color) {
  border: 1px solid $color;
  background: #fff;
  .http-method{
    background: darken($color, 20%);
    color: white;
  }
  >header {
    background: $color;
  }
  h4 {
    color:$color;
  }
}



li.operation {
  $border-radius: 3px;
  margin: 0.4em 0em 1em 1em;
  border-radius: $border-radius;
  font-family: "Open Sans";

  >header {
    overflow: hidden;
    cursor: pointer;
   // background: lighten($color, 38%);

    .http-method {
      font-size: 0.9em;
      padding: .6em .5em;
      float: left;
      border-top-left-radius: $border-radius;
      font-weight: 400;
      margin-right: .4em;
      width: 52px;
      text-align: center;
    }

    .summary >span{
      padding: .4em;
      display: block;
      font-size: 0.9em;
    }
  }

  @include operation-theme($http-default);
  &.get { @include operation-theme($http-get); }
  &.post { @include operation-theme($http-post); }
  &.delete { @include operation-theme($http-delete); }
  &.patch { @include operation-theme($http-patch); }


  .content >section {
    margin: 1em;
    font-family: "Open Sans";
    font-size: 0.9em;


    >h4 {
      font-size: 1em;
      font-family: "Open Sans";
      font-weight: 600;
    }
    >div {
      margin: .3em 0 .5em;
      line-height: 120%;
    }
  }

  table.params, table.respns {
    width: 100%;

    >thead {
      >tr {
        border-bottom: 1px solid gray;
        >th {
          padding: 0.3em;
          font-size: .8em;
          font-weight: 600;
          background-color: #f7f7f7;
        }
      }
    }

    >tbody {
      >tr {
        border-bottom: 1px solid silver;
        font-size: 0.8em;
        // &:nth-child(odd) {
        //   background: rgba(0, 0, 0, 0.03);
        // }
        // &:nth-child(even) {
        //   background: rgba(255, 255, 255, 0.05);
        // }
        >td {
          padding: 0.3em;

          &.mono {
            font-family: "source code pro";
            font-weight: bold;
            font-size: 1.0em;
            white-space: pre;
          }

          span.resp-code {
            border-radius: 3px;
            color: white;
            background: #333;
            padding: 3px 8px;
            font-size: 1em;
            font-weight: 300;
            display: inline-block;

            &.green { background: green; }
            &.red { background: red; }
            &.blue { background: blue; }
            &.yellow{ background: gold; }
          }
        }
      }
    }
  }

  &.collapsed {
    .content {
      display: none;
    }
  }

  &.hidden {
    display: none;
  }

}
