li.path {
  padding-bottom: 1.2em;

  >header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 a {
      font-family: "Open Sans";
      font-size: 1.2em;
      color: #333;
      text-decoration: none;
      padding: .2em;
      font-weight: 600;
      padding: 0
    }
  }

  ul.options {
    display: flex;
    a {
      padding: 0.3em;
      user-select: none;
      font-size: 0.8em;
      color: #777;
      &:hover {
        //text-decoration: underline;
        color: #444;
        border-bottom: 1px dotted #555; 
      }
     
    }
     li.divider {
        color: #ccc;
        font-weight: 300;

      }
  }

  ul.operations {

    &.collapsed {
      display: none;
    }
  }
}
