@import "colors";
@import "fonts";

li.path {
  padding-bottom: 1.2em;

  >header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    h2  {
      font-family: "Open Sans";
      font-size: 1.2em;
      font-weight: 400;
      padding: 0;
      margin-bottom: 5px;
      margin-top: 3px;

      a {
        color: $gray-dk;
        text-decoration: none;

          &:hover {
          cursor: pointer;
        }
      }
    }
  }

  ul.options {
    font-family: "Open Sans";
    display: flex;
    a {
      padding: 0.3em;
      user-select: none;
      font-size: 0.8em;
      color: $gray-md;
      &:hover {
        color: $gray-dk;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        text-decoration: none;
      }

    }

    li + li:after, li:first-child:after {
      content: "|";
      color: $gray-lt;
      font-weight: 300;
    }
    li:last-child:after {
      display: none;
    }
  }

  ul.operations {

    &.collapsed {
      display: none;
    }
  }
}
