li.path {
  padding-bottom: 1.2em;

  >header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2  {
      font-family: "Open Sans";
      font-size: 1.2em;
      font-weight: 400;
      padding: 0;
      margin-bottom: 5px;
      margin-top: 3px;

      a {
        color: #333;
        text-decoration: none;

          &:hover {
          cursor: pointer;
        }
      }
    }
  }

  ul.options {
    font-family: "Open Sans";
    display: flex;
    a {
      padding: 0.3em;
      user-select: none;
      font-size: 0.8em;
      color: #777;
      &:hover {
        color: #444;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
      }

    }
    
     li.divider {
        color: #ccc;
        font-weight: 300;
      }
  }

  ul.operations {

    &.collapsed {
      display: none;
    }
  }
}
