.paths-header {
  background-color: #fafafa;
  padding: 5px;
  margin-bottom: 1em;

  .info-container {
    transition: height ease-in .3s;

    &.collapsed {
      height: 0 !important;
      overflow: hidden;
    }
  }
  button {
    float: right;
  }

  h1 {
    font-size: 1.2em;
    font-weight: 400;
  }

  p {
    font-size: .9em;
    font-weight: 300;
    line-height: 1.2em;
    margin-top: .4em;
  }

}
