@import "../colors";
.schema-model {
  &.hidden {
    display: none;
  }

  >header {
   
    span, a {
      font-size: .9em;
      padding: .2em;
      white-space: pre;
      //font-weight: 400;
      display: none;

      &.pipe {
      color: darken($gray-lt, 10%);
      }
      

      &.active {
        display: inline-block;
        font-weight: 700;
      }


      &:hover {
        background: rgba(255,255,255,0.5);
      }
    
    }
    //  span {
    //   font-weight: 700;
    // }
    // a {

    // }
  }

  >section {
    &.json {
      font-size: .9em;
      pre {
        background: rgba(255,255,255,0.7);
      }
    }

    &.ng-enter, &.ng-leave {
       transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    }
    &.ng-leave,
    &.ng-enter.ng-enter-active{
      opacity: 1
    }
    &.ng-enter,
    &.ng-leave.ng-leave-active {
      opacity: 0;
    }

    pre {
      white-space: pre;
      font-family: monospace;
      padding: 0.2em;
      background: $pre-bg;
    }
  }
}

