@import "../colors";

@mixin operation-button($color) {
  background: $color;
}
.try-operation {

  button.try-it {
    border-radius: 3px;
    background-color: #FFF;
    border: 1px solid #777;
    padding: 0.3em 0.5em;
    cursor: pointer;
    &:hover {
      background-color: #e5e5e5;
      transition: background-color 0.3s ease-in-out;
    }
  }

  .try-toggle {
    font-size: .9em;
  }

  >div {
    >h5 {
      font-size: 1.0em;
      font-weight: 600;

    }

    >div {
      padding: .5em 0 1em;
    }

    .raw {
      width: 100%;
      padding: .4em;
      background: #fff7e5;
      font-family: monospace;
      border: none;
      margin: 1em 0;
      word-wrap: break-word;
    }

    .parameters {
      table.edit-params {
        width: 100%;

        td {
          vertical-align: top;

          &.required-icon {
            width: 2em;
          }
        }

        .param-name {
          text-align: right;
          padding: 0.3em 0.6em;
          font-size: .9em;
        }

        textarea, input {
          -webkit-appearance: none;
          border: 1px solid gray;
          display: block;
          width: 100%;
          padding: .4em .6em
        }
      }
    }

    .request {
      .raw-request {
      }

      // TODO: Move to buttons.scss
      button.call {
        font-size: 1em;
        padding: 0.3em 0.8em;
        display: inline-block;
        border: 1px solid #D9D9D9;
        background-color: #e3e3e3;
        color: #444;
        border-radius: 3px;
        appearance: none;
        cursor: pointer;
        background: gradient(linear, left top, left bottom,
          color-stop(0%,$gray-lt),
          color-stop(50%,$gray-lt),
          color-stop(100%,$gray-lt));

        &:hover {
          color: #333;
          border: 1px solid #bdbdbd;
        }
      }
    }

    .response {
      .failed-bar {
        background: red;
        color: white;
        font-weight: 400;
        padding: .3em;
      }
      .raw-response {
        white-space: pre;
      }
    }
  }
}
