/* line 1, ../../../app/styles/fonts.scss */
.editor-font {
  font-family: "Source Code Pro";
  font-weight: 300;
}

/* line 6, ../../../app/styles/fonts.scss */
.pre-font {
  font-family: monospace;
}

/* line 10, ../../../app/styles/fonts.scss */
.sw-font, .sw-font-heavy, .sw-font-med, .sw-font-light, li.path ul.options li + li:after, li.path ul.options li:first-child:after, li.path > header h2, li.path ul.options {
  font-family: "Open Sans";
  font-weight: 400;
}

/* line 15, ../../../app/styles/fonts.scss */
.sw-font-heavy {
  font-weight: 700;
}

/* line 20, ../../../app/styles/fonts.scss */
.sw-font-med {
  font-weight: 600;
}

/* line 25, ../../../app/styles/fonts.scss */
.sw-font-light, li.path ul.options li + li:after, li.path ul.options li:first-child:after {
  font-weight: 300;
}

/* line 4, ../../../app/styles/components/path.scss */
li.path {
  padding-bottom: 1.2em;
}
/* line 7, ../../../app/styles/components/path.scss */
li.path > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
/* line 13, ../../../app/styles/components/path.scss */
li.path > header h2 {
  font-size: 1.2em;
  padding: 0;
  margin-bottom: 5px;
  margin-top: 3px;
}
/* line 20, ../../../app/styles/components/path.scss */
li.path > header h2 a {
  color: #333333;
  text-decoration: none;
}
/* line 24, ../../../app/styles/components/path.scss */
li.path > header h2 a:hover {
  cursor: pointer;
}
/* line 31, ../../../app/styles/components/path.scss */
li.path ul.options {
  display: flex;
}
/* line 34, ../../../app/styles/components/path.scss */
li.path ul.options a {
  padding: 0.3em;
  user-select: none;
  font-size: 0.8em;
  color: gray;
}
/* line 39, ../../../app/styles/components/path.scss */
li.path ul.options a:hover {
  color: #333333;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}
/* line 48, ../../../app/styles/components/path.scss */
li.path ul.options li + li:after, li.path ul.options li:first-child:after {
  content: "|";
  color: #e3e3e3;
}
/* line 53, ../../../app/styles/components/path.scss */
li.path ul.options li:last-child:after {
  display: none;
}
/* line 60, ../../../app/styles/components/path.scss */
li.path ul.operations.collapsed {
  display: none;
}
