@import "../fonts";
@import "../colors";

.ace-atom-dark{
  .ace_search {
    color: @gray-dk;
  }
  .ace_searchbtn{
    width: 32px;
  }
  .ace_marker-layer div.ace_selected-word{
    border: 1px solid @white;
  }
}

