.preferences-modal {
  .keypress-debounce {
    max-width: 200px;
  }

  .preferences-form {
    label {
      display: block;
    }

    p {
      font-weight: normal;
      font-size: 12px;
    }

    tr:not(:first-child) th {
      padding-top: 20px;
    }

    th:last-child {
      padding-left: 30px;
      min-width: 150px;
      vertical-align: middle;

      input[type="checkbox"] {
        font-size: 20px;
      }
    }
  }
}
