@import "../colors";
@import "../fonts";

.schema-model {

  &.hidden {
    display: none;
  }

  a.toggle {
    color: @schema-toggle;
    text-decoration: none;
    margin: 0 0.3em;
    padding: 0 0.2em;
    border-radius: 3px;

    &:hover {
      background: @schema-toggle;
      color: @white;
    }
  }
}

