<div class="preview-wrapper">
  <div class="error-presenter" ng-controller="ErrorPresenterCtrl">
    <div class="error" ng-if="getError()">
      <header class="error-header" ng-click="hideError = !hideError">
          <h4 >{{getType()}}</h4>
      </header>
      <div class="details" collapse-when="hideError">
        <pre>{{getDescription()}}</pre>
        <h5>Details</h5>
        <json-formatter json="getError()" open="1"></json-formatter>
      </div>
    </div>
  </div>

  <ng-include src="'templates/specs-info.html'"
    ng-if="!!specs.info && !error.yamlError"></ng-include>

  <header ng-if="!!specs.info && !error.yamlError">
    <h1>
      <a ng-click="togglePaths()">{{isPathsCollapsed() ? '+' : '-'}}</a>
      Paths
    </h1>
  </header>
  <ul ng-if="!error.yamlError" collapse-when="isPathsCollapsed()">
    <path ng-repeat="(pathName, path) in specs.paths" path="path" path-name="pathName" is-single="isSinglePath"></path>
  </ul>

  <header ng-if="specs.definitions">
    <h1>
      <a ng-click="toggleModles()">{{true ? '+' : '-'}}</a>
      Models
    </h1>
    <ul ng-if="specs.definitions">
      <li ng-repeat="(modelName, model) in specs.definitions">
        <h4>{{modelName}}</h4>
        <schema-model schema="model"></schema-model>
      </li>
    </ul>
  </header>
</div>
