<div class="preview-wrapper">
  <div class="error-presenter" ng-controller="ErrorPresenterCtrl">
    <div class="error" ng-if="getError()">
      <header class="error-header" ng-click="hideError = !hideError">
          <h4 >{{getType()}}</h4>
      </header>
      <div class="details" collapse-when="hideError">
        <pre>{{getDescription()}}</pre>
        <h5>Details</h5>
        <json-formatter json="getError()" open="1"></json-formatter>
      </div>
    </div>
  </div>
  <header class="paths-header" ng-if="!!specs.info && !error.yamlError">
    <ng-include src="'templates/specs-info.html'"></ng-include>
  </header>
  <ul ng-if="!error.yamlError">
    <path ng-repeat="(pathName, path) in specs.paths" path="path" path-name="pathName" is-single="isSinglePath"></path>
  </ul>
</div>
