<div class="info"><header class="info-header"><h3 class="section-header"><a ng-click="toggle(['info'])">About</a></h3><!-- Commented out because of CSS issues (looks bad)
    <div class="collapse-togglers">
      <button type="button" class="btn btn-default left" ng-click="toggleAllPathsListed()"
        ng-class="{active: areAllPathsListed()}">All</button>
      <button type="button" class="btn btn-default left"></button>
      <button type="button" class="btn btn-default left"></button>
    </div>
    --></header><div class="info-container section-content" collapse-when="isCollapsed(['info'])" ng-ani><h4>{{specs.info.title}}</h4><div marked="specs.info.description"></div><h4>Version <span>{{specs.info.version}}</span></h4><div ng-if="specs.info.termsOfService"><h4>Terms of service</h4><p>{{specs.info.termsOfService}}</p></div><div ng-if="license"><h4>{{specs.info.license.name}}</h4><a href="{{specs.info.license.url}}">{{specs.info.license.url}}</a></div></div></div>