<div class="menu-bar">
  <div class="toolbar">
    <section class="left">
      <dropdown-menu label="File" on-open="assignDownloadHrefs">
        <button class="toolbar-btn" ng-click="newProject()">New</button>
        <button class="toolbar-btn" ng-click="openExamples()">Open Example</button>
        <button class="toolbar-btn" ng-click="openImportUrl()">Import URL</button>
        <button class="toolbar-btn" ng-click="openImportFile()">Import File</button>
        <a download="spec.yaml" class="toolbar-btn" data-downloadurl="{{yamlDownloadUrl}}" href="{{yamlDownloadHref}}">Download YAML</a>
        <a download="spec.json" class="toolbar-btn" downloadUrl="{{jsonDownloadUrl}}" href="{{jsonDownloadHref}}">Download JSON</a>
      </dropdown-menu>

      <!-- Server generation is not working with version 2 yet.
      <dropdown-menu label="Get Server">
        <button class="toolbar-btn" ng-click="generateZip('servers', 'nodejs')">Node.js</button>
        <button class="toolbar-btn" ng-click="generateZip('servers', 'jaxrs')">JAX-RS</button>
        <button class="toolbar-btn" ng-click="generateZip('servers', 'scalatra')">Scalatra</button>
      </dropdown-menu>
      <dropdown-menu label="Get Client">
        <button class="toolbar-btn" ng-click="generateZip('clients', 'android')">Android</button>
        <button class="toolbar-btn" ng-click="generateZip('clients', 'java')">Java</button>
        <button class="toolbar-btn" ng-click="generateZip('clients', 'php')">PHP</button>
        <button class="toolbar-btn" ng-click="generateZip('clients', 'objc')">Objective-C</button>
        <button class="toolbar-btn" ng-click="generateZip('clients', 'docs')">Docs</button>
      </dropdown-menu>
     -->
    </section>

    <section class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="#">All Paths</a></li>
        <li ng-repeat="entry in getBreadcrumbs()" ng-class="{active: entry.active}">
          {{entry.name}}
        </li>
      </ol>
    </section>

    <section class="right">
      <div class="grouped-buttons">
        <button class="toolbar-btn left" title="{{!isPaneVisisble('left') ? 'Hide' : 'Show'}} text editor"
          ng-click="togglePane('left')"
          ng-class="{selected: isPaneVisible('left')}"
          ng-disabled="!isPaneVisible('right')"></button>
        <button class="toolbar-btn left" title="{{!isPaneVisisble('right') ? 'Hide' : 'Show'}} preview"
          ng-click="togglePane('right')"
          ng-class="{selected: isPaneVisible('right')}"
          ng-disabled="!isPaneVisible('left')"></button>
      </div>
      <div>
        <a href="http://swagger.wordnik.com" class="mktLink ng-scope" title="Learn more about Swagger" target="_blank"></a>
      </div>
    </section>
  </div>
</div>
