<div class="main-header">
  <div ng-if="showAbout" ng-include="'templates/intro.html'"></div>
  <a href="http://swagger.io" target="_blank" class="logo" ng-if="!showHeaderBranding()"></a>
  <div ng-include="'templates/branding-left.html'" ng-if="showHeaderBranding()" class="branding-3rdparty"></div>
  <section class="menu-bar">
    <div class="file dropdown" ng-if="showFileMenu()">
      <button class="btn btn-default dropdown-toggle" type="button"
        data-toggle="dropdown" id="fileMenu" ng-mouseover="assignDownloadHrefs()">File
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" ng-if="showFileMenu()" role="menu" aria-labelledby="fileMenu">
        <li role="presentation">
          <a ng-click="newProject()" role="menuitem" tabindex="-1" track-event="file new">New</a>
        </li>
        <li role="presentation">
          <a ng-click="newProject(true)" role="menuitem" tabindex="-1" track-event="file blank">Blank Project</a>
        </li>
        <li role="presentation">
          <a ng-click="openExamples()" role="menuitem" tabindex="-1" track-event="file open-example">Open Example&hellip;</a>
        </li>
        <li role="presentation" class="divider"></li>
        <li role="presentation">
          <a ng-click="openPasteJSON()" role="menuitem" tabindex="-1" track-event="file paste-json">Paste JSON&hellip;</a>
        </li>
        <li role="presentation">
          <a ng-click="openImportUrl()" role="menuitem" tabindex="-1" track-event="file import url">Import URL&hellip;</a>
        </li>
        <li role="presentation">
          <a ng-click="openImportFile()" role="menuitem" tabindex="-1" track-event="file import file">Import File&hellip;</a>
        </li>
        <li role="presentation" class="divider"></li>
        <li role="presentation">
          <a download="swagger.yaml" data-downloadurl="{{yamlDownloadUrl}}"
            href="{{yamlDownloadHref}}" role="menuitem" tabindex="-1" track-event="file download yaml">Download YAML</a>
        </li>
        <li role="presentation">
          <a download="swagger.json" downloadUrl="{{jsonDownloadUrl}}"
            href="{{jsonDownloadHref}}" role="menuitem" tabindex="-1" track-event="file download json">Download JSON</a>
        </li>
      </ul>
    </div>

    <div class="preferences dropdown">
      <button id="preferences" class="btn btn-default dropdown-toggle">
        Preferences
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="preferences">
        <li role="presentation">
          <a class="font-size">
            Font Size
            <span ng-click="adjustFontSize(1)" stop-event class="adjust" track-event="preferences font+">+</span><span ng-click="adjustFontSize(-1)" stop-event class="adjust" track-event="preferences font-">–</span>
          </a>
        </li>
        <li role="presentation">
          <a ng-click="openEditorPreferences()" role="menuitem" tabindex="-1" track-event="preferences settings">Settings</a>
        </li>
        <li role="presentation">
          <a ng-click="resetSettings()" role="menuitem" tabindex="-1" track-event="preferences reset-settings">Reset Settings</a>
        </li>
      </ul>
    </div>

    <div class="mode dropdown">
      <button id="switch-mode" class="btn btn-default dropdown-toggle">
        Mode
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="switch-mode">
        <li role="presentation">
          <a ui-sref="{mode: 'edit'}" role="menuitem" tabindex="-1" id="edit-mode" track-event="mode edit">Editor</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" stop-event id="design-mode" ng-click="designModeTodoAlert()" track-event="mode designer">Designer</a>
        </li>
        <li role="presentation">
          <a ui-sref="{mode: 'preview'}" role="menuitem" tabindex="-1" id="preview-mode" track-event="mode preview">Preview</a>
        </li>
        <li role="presentation" class="divider" ng-if="showEditorMenuOptions()"></li>
        <li role="presentation" ng-if="showEditorMenuOptions()">
          <a role="menuitem" tabindex="-1" ng-click="toggleLiveRender()" track-event="mode toggle-live-render {{isLiveRenderEnabled()}}">{{isLiveRenderEnabled() ? 'Disable' : 'Enable'}} Live Render</a>
        </li>
      </ul>
    </div>

    <div class="dropdown" ng-if="servers && !disableCodeGen">
       <button class="btn btn-default dropdown-toggle" type="button"
        data-toggle="dropdown" id="ServerMenu">
        Get Servers
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="ServerMenu">
        <li ng-repeat="server in servers" role="presentation">
          <a role="menuitem" tabindex="-1" ng-click="getServer(server)">{{server}}</a>
        </li>
      </ul>
    </div>

    <div class="code-gen dropdown" ng-if="clients && !disableCodeGen">
       <button class="btn btn-default dropdown-toggle" type="button"
        data-toggle="dropdown" id="ClientMenu">
        Get Clients
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="ClientMenu">
        <li ng-repeat="client in clients" role="presentation">
          <a role="menuitem" tabindex="-1" ng-click="getClient(client)">{{client}}</a>
        </li>
      </ul>
    </div>

    <div class="help dropdown">
      <button class="dropdown-icon btn btn-default dropdown-toggle" id="helpMenu" data-toggle="dropdown" type="button">Help
      <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="helpMenu">
        <li role="presentation">
          <a href="https://github.com/swagger-api/swagger-editor/issues/new?labels=From%20Editor" target="_blank">Report A Bug</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="http://swagger.io/"target="_blank">Swagger Website</a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" ng-click="openAbout()">About Swagger Editor</a>
        </li>
        <li role="presentation" class="divider"></li>
        <li role="presentation">
          <a ng-click="toggleAboutEditor(true)" role="menuitem" tabindex="-1">Show Introduction Help</a>
        </li>
      </ul>
    </div>
  </section>

  <section class="status-bar">
    <div ng-if="mode === 'preview'" class="status {{statusClass}}"  ng-if="status">
      <span class="icon"></span>
      <span>{{status}}</span>
    </div>
    <div class="brandRight" ng-include="'templates/branding-right.html'" ng-if="showHeaderBranding()"></div>
  </section>
  </div>
</div>
