/* line 1, ../../app/styles/fonts.scss */
.editor-font {
  font-family: "Source Code Pro";
  font-weight: 300;
}

/* line 6, ../../app/styles/fonts.scss */
.pre-font {
  font-family: monospace;
}

/* line 10, ../../app/styles/fonts.scss */
.sw-font, .sw-font-heavy, .sw-font-med, .sw-font-light {
  font-family: "Open Sans";
  font-weight: 400;
}

/* line 15, ../../app/styles/fonts.scss */
.sw-font-heavy {
  font-weight: 700;
}

/* line 20, ../../app/styles/fonts.scss */
.sw-font-med {
  font-weight: 600;
}

/* line 25, ../../app/styles/fonts.scss */
.sw-font-light {
  font-weight: 300;
}
