/* line 2, ../../app/styles/editor.scss */
.ace-editor .editor-error-message {
  padding: .3em;
  background: #AA0A0A;
  color: white;
  max-height: 5.6em;
}
/* line 7, ../../app/styles/editor.scss */
.ace-editor .editor-error-message pre {
  font-family: monospace;
}
