/* line 1, ../../app/styles/header.scss */
header.main-header {
  height: 48px;
  background: #4a4a4a;
  color: #e4e4e4;
  display: flex;
}
/* line 7, ../../app/styles/header.scss */
header.main-header .mktLink {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 16px;
  top: 8px;
  background-image: url(/images/0c4b3f48.swagger-sprite.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
/* line 16, ../../app/styles/header.scss */
header.main-header .mktLink:hover {
  transition: background-position ease 200ms;
  background-position: 0px -33px;
}
/* line 22, ../../app/styles/header.scss */
header.main-header > h1 {
  padding: 4px .3em 0 1em;
  font-size: 22px;
  line-height: 46px;
  letter-spacing: .3px;
  text-transform: lowercase;
  font-family: "Droid Sans";
  font-weight: 700;
}
/* line 30, ../../app/styles/header.scss */
header.main-header > h1 span {
  font-weight: 300;
}
/* line 35, ../../app/styles/header.scss */
header.main-header .toolbar {
  padding: .8em;
  font-size: .8em;
}
/* line 39, ../../app/styles/header.scss */
header.main-header .toolbar button {
  border: none;
  background: white;
}
/* line 44, ../../app/styles/header.scss */
header.main-header .toolbar.panel-switcher {
  position: absolute;
  right: 50px;
}
/* line 47, ../../app/styles/header.scss */
header.main-header .toolbar.panel-switcher a {
  margin-right: .3em;
  text-decoration: none;
  font-size: 10px;
  cursor: pointer;
  transition: color ease-in-out 100ms;
}
/* line 53, ../../app/styles/header.scss */
header.main-header .toolbar.panel-switcher a.active {
  color: #000;
}
/* line 60, ../../app/styles/header.scss */
header.main-header .generation {
  display: none;
}

/* line 66, ../../app/styles/header.scss */
header.editor-header .toolbar {
  display: flex;
  height: 36px;
  padding-left: 15px;
  background: #252525;
}
/* line 71, ../../app/styles/header.scss */
header.editor-header .toolbar section {
  flex: 1;
  display: flex;
}
/* line 74, ../../app/styles/header.scss */
header.editor-header .toolbar section.left {
  justify-content: flex-start;
}
/* line 77, ../../app/styles/header.scss */
header.editor-header .toolbar section.right {
  justify-content: flex-end;
}
/* line 82, ../../app/styles/header.scss */
header.editor-header .toolbar .btn-drawer {
  display: inline-block;
  position: relative;
}
/* line 85, ../../app/styles/header.scss */
header.editor-header .toolbar .btn-drawer .buttons {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 5;
  background: #333333;
  margin: 0;
}
/* line 95, ../../app/styles/header.scss */
header.editor-header .toolbar .btn-drawer:hover .buttons {
  display: block;
}
/* line 99, ../../app/styles/header.scss */
header.editor-header .toolbar .toolbar-btn {
  display: inline-block;
  border: 1px solid gray;
  border-radius: 3px;
  text-align: center;
  color: #808080;
  text-decoration: none;
  font-size: 13px;
  margin-top: 5px;
  height: 26px;
  outline: none;
  cursor: pointer;
  background: #252525;
  min-width: 104px;
}
/* line 113, ../../app/styles/header.scss */
header.editor-header .toolbar .toolbar-btn:hover {
  color: #444;
  text-decoration: none;
  border-radius: 3px;
  background: #383838;
}
/* line 119, ../../app/styles/header.scss */
header.editor-header .toolbar .toolbar-btn span {
  font-size: .5em;
  float: right;
  margin-right: 3px;
  margin-top: 4px;
}
/* line 126, ../../app/styles/header.scss */
header.editor-header .toolbar .toolbar-btn.menu-button {
  display: display;
  border: none;
}
/* line 130, ../../app/styles/header.scss */
header.editor-header .toolbar .toolbar-btn:hover {
  color: #8a8a8a;
  background: #3d3d3d;
  transition: background 0.2s ease;
}
/* line 135, ../../app/styles/header.scss */
header.editor-header .toolbar .toolbar-btn.actionBtn {
  color: #444;
  line-height: 26px;
  padding: 0;
  margin-top: 2px;
  text-decoration: none;
  background: #D4D4D4;
  border: 1px solid #949494;
  border-radius: 0px;
  margin-bottom: -3px;
}
/* line 145, ../../app/styles/header.scss */
header.editor-header .toolbar .toolbar-btn.actionBtn:hover {
  background: #bdbdbd;
  color: #383838;
}
/* line 149, ../../app/styles/header.scss */
header.editor-header .toolbar .toolbar-btn.actionBtn.actionBtn:first-child {
  border-radius: 3px 3px 0 0;
}
/* line 152, ../../app/styles/header.scss */
header.editor-header .toolbar .toolbar-btn.actionBtn.actionBtn:last-child {
  border-radius: 0 0 3px 3px;
}
