/* line 1, ../../app/styles/swagger-reset.scss */
.swagger-preview {
  /* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
  /* HTML5 display-role reset for older browsers */
}
/* line 83, ../../app/styles/swagger-reset.scss */
.swagger-preview html,
.swagger-preview body,
.swagger-preview div,
.swagger-preview span,
.swagger-preview applet,
.swagger-preview object,
.swagger-preview iframe,
.swagger-preview h1,
.swagger-preview h2,
.swagger-preview h3,
.swagger-preview h4,
.swagger-preview h5,
.swagger-preview h6,
.swagger-preview p,
.swagger-preview blockquote,
.swagger-preview pre,
.swagger-preview a,
.swagger-preview abbr,
.swagger-preview acronym,
.swagger-preview address,
.swagger-preview big,
.swagger-preview cite,
.swagger-preview code,
.swagger-preview del,
.swagger-preview dfn,
.swagger-preview em,
.swagger-preview img,
.swagger-preview ins,
.swagger-preview kbd,
.swagger-preview q,
.swagger-preview s,
.swagger-preview samp,
.swagger-preview small,
.swagger-preview strike,
.swagger-preview strong,
.swagger-preview sub,
.swagger-preview sup,
.swagger-preview tt,
.swagger-preview var,
.swagger-preview b,
.swagger-preview u,
.swagger-preview i,
.swagger-preview center,
.swagger-preview dl,
.swagger-preview dt,
.swagger-preview dd,
.swagger-preview ol,
.swagger-preview ul,
.swagger-preview li,
.swagger-preview fieldset,
.swagger-preview form,
.swagger-preview label,
.swagger-preview legend,
.swagger-preview table,
.swagger-preview caption,
.swagger-preview tbody,
.swagger-preview tfoot,
.swagger-preview thead,
.swagger-preview tr,
.swagger-preview th,
.swagger-preview td,
.swagger-preview article,
.swagger-preview aside,
.swagger-preview canvas,
.swagger-preview details,
.swagger-preview embed,
.swagger-preview figure,
.swagger-preview figcaption,
.swagger-preview footer,
.swagger-preview header,
.swagger-preview hgroup,
.swagger-preview menu,
.swagger-preview nav,
.swagger-preview output,
.swagger-preview ruby,
.swagger-preview section,
.swagger-preview summary,
.swagger-preview time,
.swagger-preview mark,
.swagger-preview audio,
.swagger-preview video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* line 102, ../../app/styles/swagger-reset.scss */
.swagger-preview article,
.swagger-preview aside,
.swagger-preview details,
.swagger-preview figcaption,
.swagger-preview figure,
.swagger-preview footer,
.swagger-preview header,
.swagger-preview hgroup,
.swagger-preview menu,
.swagger-preview nav,
.swagger-preview section {
  display: block;
}
/* line 105, ../../app/styles/swagger-reset.scss */
.swagger-preview body {
  line-height: 1;
}
/* line 109, ../../app/styles/swagger-reset.scss */
.swagger-preview ol,
.swagger-preview ul {
  list-style: none;
}
/* line 113, ../../app/styles/swagger-reset.scss */
.swagger-preview blockquote,
.swagger-preview q {
  quotes: none;
}
/* line 119, ../../app/styles/swagger-reset.scss */
.swagger-preview blockquote:before,
.swagger-preview blockquote:after,
.swagger-preview q:before,
.swagger-preview q:after {
  content: '';
  content: none;
}
/* line 123, ../../app/styles/swagger-reset.scss */
.swagger-preview table {
  border-collapse: collapse;
  border-spacing: 0;
}
