@-webkit-keyframes shake {
  /* line 2, ../../app/styles/swagger-custom.scss */
  25% {
    -webkit-transform: translateX(-5px);
  }

  /* line 5, ../../app/styles/swagger-custom.scss */
  75% {
    -webkit-transform: translateX(5px);
  }
}

/* line 14, ../../app/styles/swagger-custom.scss */
.swagger-section .endpoints.collapsed {
  display: none;
}
/* line 19, ../../app/styles/swagger-custom.scss */
.swagger-section .endpoints .endpoint .content.collapsed {
  display: none;
}
/* line 24, ../../app/styles/swagger-custom.scss */
.swagger-section .endpoints .operation-params div.shake {
  transition: 300ms -webkit-transform cubic-bezier(0.87, 0.53, 0.81, 1.67);
  -webkit-animation: shake 300ms 3;
  box-shadow: 0 0 10px red;
}
