/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../../app/styles/reset.scss */
html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 89, ../../app/styles/reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 102, ../../app/styles/reset.scss */
body {
  line-height: 1;
}

/* line 105, ../../app/styles/reset.scss */
ol,
ul {
  list-style: none;
}

/* line 109, ../../app/styles/reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 114, ../../app/styles/reset.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 120, ../../app/styles/reset.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 125, ../../app/styles/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
