.pre-font {
	font-family: 'Source Code Pro', monospace;
}

.sw-font {
	font-family: "Open Sans";
	font-weight: 400;
}

.sw-font-heavy {
	.sw-font;
	font-weight: 700;
}

.sw-font-med {
	.sw-font;
	font-weight: 600;
}

.sw-font-light {
	.sw-font;
	font-weight: 300;
}
