<div class="modal-header">
  <h3 class="modal-title">Download HTML documentation</h3>
</div>
<div class="modal-body">
  <p>Click link below to download HTML documentations.</p>
  <p>The downloaded file will be self contained with everything required for this Swagger document.</p>
  <p ng-if="!ready">Generating document...</p>
  <a ng-if="ready" download="swagger.html" href="{{downloadHref}}" downloadUrl="{{downloadUrl}}" class="btn">Download</a>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="cancel()">Close</button>
</div>
