<div class="toolbar">
  <section class="left">
    <button class="toolbar-btn" ng-click="newProject()">New</button>
    <button class="toolbar-btn" ng-click="resetSpec()">Reset</button>
<!--     <dropdown-menu label="Add">
      <a class="toolbar-btn  actionBtn">Endpoint</a>
      <a class="toolbar-btn  actionBtn actionBtnBtm">Parameter</a>
    </dropdown-menu>
 -->  </section>
  <section class="right">
    <dropdown-menu label="Download" on-open="assignDownloadHrefs">
      <a download="spec.yaml" class="toolbar-btn actionBtn" data-downloadurl="{{yamlDownloadUrl}}" href="{{yamlDownloadHref}}">YAML</a>
      <a download="spec.json" class="toolbar-btn actionBtn actionBtnBtm" downloadUrl="{{jsonDownloadUrl}}" href="{{jsonDownloadHref}}">JSON</a>
    </dropdown-menu>
    <dropdown-menu label="Get Server">
      <a class="toolbar-btn actionBtn" ng-click="generateZip('servers', 'nodejs')">Node.js</a>
      <a class="toolbar-btn actionBtn" ng-click="generateZip('servers', 'jaxrs')">JAX-RS</a>
    </dropdown-menu>
    <dropdown-menu label="Get Client">
      <a class="toolbar-btn actionBtn" ng-click="generateZip('clients', 'android')">Android</a>
      <a class="toolbar-btn actionBtn" ng-click="generateZip('clients', 'java')">Java</a>
      <a class="toolbar-btn actionBtn" ng-click="generateZip('clients', 'php')">PHP</a>
      <a class="toolbar-btn actionBtn" ng-click="generateZip('clients', 'objc')">Objective-C</a>
      <a class="toolbar-btn actionBtn" ng-click="generateZip('clients', 'docs')">Docs</a>
    </dropdown-menu>
  </section>
</div>
