<div class="error-presenter {{isOnlyWarnings() ? 'warning' : 'error'}}"
  ng-controller="ErrorPresenterCtrl">
  <header class="error-header" ng-click="toggleCollapse()">
    <h4>{{getTitle()}}</h4>
    <span class="collapse-button">{{isCollapsed ? 'Open' : 'Collapse'}}</span>
  </header>
  <div ng-repeat="error in getErrors() track by $index" collapse-when="isCollapsed" class="item">
    <h5 class="{{isWarning(error) ? 'warning' : 'error'}}">
      <span class="icon">{{isWarning(error) ? '⚠' : '✖' }}</span>
      {{getType(error)}}
    </h5>
    <p class="error-description" ng-bind-html="getDescription(error)"></p>
    <a ng-click="goToLineOfError(error)" class="jump-to-link"
      ng-if="showLineJumpLink(error)">Jump to line <b>{{getLineNumber(error)}}</b></a>
    <div class="details">
      <h5>Details</h5>
      <json-formatter json="error" open="0"></json-formatter>
    </div>
  </div>
</div>
