<div ng-init="isOpen = false" class="json-formatter-row">
  <a ng-click="isOpen = !isOpen">
    <span class="toggler {{isOpen ? 'open' : ''}}" ng-if="isObject"></span>
    <span class="key" ng-if="hasKey">{{key}}:</span>
    <span class="value">
      <span ng-if="isObject">
        {{json.constructor && json.constructor.name}}
        <span ng-if="isArray()"><span class="bracket">[</span><span class="number">{{json.length}}</span><span class="bracket">]</span></span>
      </span>
      <span ng-if="!isObject && type !== 'string'" class="{{type}}">{{type === 'null' ? 'null' : json}}</span>
      <span ng-if="!isObject && type === 'string'" class="{{type}}">"{{escapeString(json)}}"</span>
    </span>
  </a>
  <div class="children" ng-if="keys.length && isOpen">
    <json-formatter ng-repeat="key in keys" json="json[key]" key="key"></json-formatter>
  </div>
  <div class="children empty object" ng-if="isEmptyObject()"></div>
  <div class="children empty array" ng-if="keys && !keys.length && isOpen && isArray()"></div>
</div>
