<h1>Swagger <span>Editor</span></h1>
<div class="toolbar generation">
  <label><input type="checkbox" ng-model="autogenDocs">Generate Docs on the fly</label>
  <button ng-show="!autogenDocs" ng-click="generateDocs()">Generate Docs</button>
</div>
<!-- <div class="panel-switcher toolbar">
  <a ng-click="switchPreviewMode('html')" ng-class="{active: previewMode == 'html'}">HTML</a>
  <a ng-click="switchPreviewMode('json')" ng-class="{active: previewMode == 'json'}">JSON</a>
</div> -->
<a href="#" class="mktLink" title="Learn more about swagger" target="_blank"></a>
