<li class='{{operation.method | lowercase}} operation'>
  <div class='heading'>
    <h3>
      <span class='http_method'>
        <a ng-click="operation.collapsed = !operation.collapsed" class="toggleOperation">{{operation.method}}</a>
      </span>
      <span class='path'>
        <a ng-click="operation.collapsed = !operation.collapsed" class="toggleOperation">{{api.path}}</a>
      </span>
    </h3>
    <ul class='options'>
      <li>
        <a ng-click="operation.collapsed = !operation.collapsed" class="toggleOperation">{{operation.summary}}</a>
      </li>
    </ul>
  </div>
  <div class='content' ng-class="{collapsed: operation.collapsed}" id='{{operation.parentId}}_{{operation.nickname}}_content'>
    <h4 ng-if="operation.notes">Implementation Notes</h4>
    <p ng-if="operation.notes" ng-bind-html="operation.notes | markdown"></p>


      <div class="auth" ng-if="false" old-ng-if="operation.authorizations.oauth2">
          <span class="api-ic ic-error"></span>
          <div id="api_information_panel" style="position: static; display: inline-block">
              <div ng-repeat="auth in operation.authorizations.oauth2" title="{{auth.description}}">{{auth.scope}}</div>
          </div>
      </div>

    <div class='access'>
      <span class="api-ic ic-off" title="click to authenticate"></span>
    </div>
    <div class="type-wrapper" ng-if="operation.type">
      <h4>Response Class</h4>
      <p><signature type="operation.type" models="resource.models"></signature></p>
    </div>
    <div class="response-content-type" >
      <label for="responseContentType">Response Content Type</label>
      <select name="responseContentType">
        <option ng-repeat="produce in operation.produces" value="{{produce}}">{{produce}}</option>
        <option ng-if="!operation.produces || !operation.produces.length" value="application/json">application/json</option>
      </select>
    </div>
    <form accept-charset='UTF-8' class='sandbox'>
      <div style='margin:0;padding:0;display:inline'></div>
      <h4 ng-if="operation.parameters">Parameters</h4>
      <table ng-if="operation.parameters" class='fullwidth'>
        <thead>
          <tr>
            <th style="width: 100px; max-width: 100px">Parameter</th>
            <th style="width: 310px; max-width: 310px">Value</th>
            <th style="width: 200px; max-width: 200px">Description</th>
            <th style="width: 100px; max-width: 100px">Parameter Type</th>
            <th style="width: 220px; max-width: 230px">Data Type</th>
          </tr>
        </thead>
        <tbody class="operation-params">
          <tr ng-repeat="parameter in operation.parameters">
            <td class='code'>
              <strong>{{parameter.name}}</strong>
            </td>
            <td>
              <div ng-if="parameter.type == 'File'" ng-class="{shake: parameter.shake}">
                <input type="file" name='{{parameter.name}}'/>
                <div class="parameter-content-type"></div>
              </div>
              <div ng-if="parameter.paramType == 'body' && parameter.type != 'File'">
                <textarea class='body-textarea' name='{{parameter.name}}' ng-model="parameter.defaultValue"></textarea>
                <div ng-if="!parameter.defaultValue">
                  <div class="parameter-content-type"></div>
                </div>
              </div>
              <div ng-if="parameter.paramType != 'body' && parameter.paramType != 'file'" ng-class="{shake: parameter.shake}">
                <input class='parameter' ng-model="parameter.inputValue" minlength='0' name='{{parameter.name}}'
                placeholder="{{ parameter.required ? '(required)' : '' }}"
                type='text' ng-model="parameter.defaultValue" required="parameter.required">
              </div>
            </td>
            <td>
              <strong>{{parameter.description}}</strong>
            </td>
            <td>
              {{parameter.paramType}}
            </td>
            <td>
              <signature type="parameter.type" models="resource.models"></signature>
            </td>
          </tr>
        </tbody>
      </table>
      <div ng-if="operation.responseMessages" style='margin:0;padding:0;display:inline'></div>
      <h4 ng-if="operation.responseMessages">Response Messages</h4>
      <table ng-if="operation.responseMessages" class='fullwidth'>
        <thead>
          <tr>
            <th>HTTP Status Code</th>
            <th>Reason</th>
            <th>Response Model</th>
          </tr>
        </thead>
        <tbody class="operation-status">
            <tr ng-repeat="statusCode in operation.responseMessages">
                <td width='15%' class='code'>{{statusCode.code}}</td>
                <td>{{statusCode.message}}</td>
                <td width='50%'><span class="model-signature" /></td>
            </tr>
        </tbody>
      </table>
      <div ng-if="!operation.isReadOnly" class='sandbox_header'>
        <button ng-if="false" ng-click="tryIt(operation, resource.basePath)" class='submit' name='commit' type='button'>Try it out!</button>
        <a href='#' class='response_hider' style='display:none'>Hide Response</a>
        <img alt='Throbber' class='response_throbber' src='images/throbber.gif' style='display:none' />
      </div>
    </form>
    <div class='response' style='display:none'>
      <h4>Request URL</h4>
      <div class='block request_url'></div>
      <h4>Response Body</h4>
      <div class='block response_body'></div>
      <h4>Response Code</h4>
      <div class='block response_code'></div>
      <h4>Response Headers</h4>
      <div class='block response_headers'></div>
    </div>
</li>
