<li class='{{operation.operationName | lowercase}} operation' scroll-into-view-when="isInFocus(['paths', path.pathName, operation.operationName])">
  <header ng-click="toggle(['paths', path.pathName, operation.operationName])">
    <a class="focus-editor" ng-click="focusEdit($event, ['paths', path.pathName, operation.operationName])"
      ng-if="mode === 'preview'" tooltip-placement="left" tooltip="Jump to YAML"></a>
    <div class='http-method' class="toggleOperation">{{operation.operationName | uppercase}} {{path.pathName}}</div>
  </header>

  <div class='content' collapse-when="isCollapsed(['paths', path.pathName, operation.operationName])">
    <div class="tags">
      <span class="tag tag-color-{{tagIndexFor(tag)}}" ng-repeat="tag in operation.tags">{{tag}}</span>
    </div>
    <section class="summary" ng-if="operation.summary">
      <h4>Summary</h4>
      <p>{{operation.summary}}</p>
    </section>
    <section class="description" ng-if="operation.description">
      <h4>Description</h4>
      <div marked="operation.description"></div>
    </section>

    <section class="parameters" ng-if="getParameters().length">
      <h4>Parameters</h4>
      <div>
        <table class="params">
          <thead>
            <tr>
              <th>Name</th>
              <th>Located in</th>
              <th>Description</th>
              <th>Required</th>
              <th>Schema</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="parameter in getParameters() track by $index">
              <td >
                <a ng-click="focusEdit($event, ['paths', path.pathName, operation.operationName, 'parameters', $index], -1)">
                  <span class="mono">{{parameter.name}}</span>
                </a>
              </td>
              <td>{{parameter.in}}</td>
              <td marked="parameter.description"></td>
              <td>{{parameter.required ? 'Yes' : 'No'}}</td>
              <td>
                <schema-model schema="getParameterSchema(parameter)"></schema-model>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <section class="responses" ng-if="operation.responses">
      <h4>Responses</h4>
      <div>
        <table class="respns">
          <thead>
            <tr>
              <th>Code</th>
              <th>Description</th>
              <th>Schema</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="response in operation.responses">
              <td>
                <a ng-click="focusEdit($event, ['paths', path.pathName, operation.operationName, 'responses', response.responseCode])">
                  <span class="resp-code {{responseCodeClassFor(response.responseCode)}}">{{response.responseCode}}</span>
                </a>
              </td>
              <td>{{response.description}}</td>
              <td>
                <schema-model schema="response.schema"></schema-model>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <section class="security" ng-if="operation.security">
      <h4>Security</h4>
      <table class="security">
        <thead>
          <tr>
            <th>Security Schema</th>
            <th>Scopes</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="security in operation.security">
            <td ng-repeat="(securityName, securityValues) in security">{{securityName}}</td>
            <td ng-repeat="(securityName, securityValues) in security">
              <strong class="security-value" ng-repeat="value in securityValues">{{value}}</strong>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <section class="try-operation" ng-if="enableTryIt">
      <button class="border-only try-it"
        ng-class="{trying: isTryOpen}"
        ng-click="toggleTry()"
        ng-if="!isTryOpen"
        track-event="try-operation"
      >Try this operation</button>
      <button class="border-only red close-try"
        ng-class="{'is-open': isTryOpen}"
        ng-click="toggleTry()"
        ng-if="isTryOpen"
      >Close</button>
      <div ng-include="'templates/try-operation.html'" ng-if="isTryOpen"></div>
    </section>
</li>
