<li class='{{operationName | lowercase}} operation'>
  <header ng-click="toggleCollapsed()">
    <div class='http-method' class="toggleOperation">{{operationName | uppercase}}</div>
    <div class="summary">
      <span>
        {{operation.summary || operation.description | limitTo: 140 }}
      </span>
    </div>
  </header>

  <div class='content' collapse-when="isCollapsed()">
    <section class="description" ng-if="operation.description">
      <h4>Description</h4>
      <div ng-bind-html="operation.description"></div>
    </section>

    <section class="parameters">
      <h4>Parameters</h4>
      <div>
        <table class="params">
          <thead>
            <tr>
              <th>Name</th>
              <th>Located in</th>
              <th>Description</th>
              <th>Required</th>
              <th>Schema</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="parameter in operation.parameters">
              <td class="mono">{{parameter.name}}</td>
              <td>{{parameter.in}}</td>
              <td>{{parameter.description}}</td>
              <td>{{parameter.required ? 'Yes' : 'No'}}</td>
              <td>
                <schema-model schema="parameter.schema"></schema-model>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <section class="responses" ng-if="operation.responses">
      <h4>Responses</h4>
      <div>
        <table class="respns">
          <thead>
            <tr>
              <th>Code</th>
              <th>Description</th>
              <th>Schema</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="(responseCode, response) in operation.responses">
              <td>
                <span class="resp-code {{responseCodeClassFor(responseCode)}}">{{responseCode}}</span>
              </td>
              <td>{{response.description}}</td>
              <td>
                <schema-model schema="response.schema"></schema-model>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <section class="try-operation">
      <button class="try-it" ng-click="showTryOperation()">Try this operation</button>
      <span class="try-toggle" ng-click="showTryOperation()">{{tryIsOpen ? '▼' : '►'}}</span>
      <try-operation operation="operation" ng-if="tryIsOpen"></try-operation>
    </section>
</li>
