<td class='code'>{{parameter.name}}</td>
<td>
    <div ng-if="parameter.isBody">
        <div ng-if="parameter.isFile">
			<input type="file" name='{{parameter.name}}'/>
			<div class="parameter-content-type" />
        </div>
        <div ng-if="!parameter.isFile">
            <textarea class='body-textarea' name='{{parameter.name}}' ng-model="parameter.defaultValue"></textarea>
            <div ng-if="!parameter.defaultValue">
				<br />
				<div class="parameter-content-type" />
            </div>
        </div>
    </div>

    <div ng-if="!parameter.isBody">
        <input class='parameter' minlength='0' name='{{parameter.name}}'
               placeholder="{{ parameter.required ? '(required)' : '' }}"
               type='text' ng-model="parameter.defaultValue" />
    </div>

</td>
<td>{{parameter.description}}</td>
<td>{{parameter.paramType}}</td>
<td>
	<span class="model-signature">

	</span>
</td>
