<li class="path">
  <header>
    <h2>
      <a href="">{{pathName}}</a>
    </h2>
    <ul class='options'>
      <li>
        <a ng-click="collapsed = !collapsed">
          {{collapsed ? 'Show' : 'Hide'}}
        </a>
      </li>
      <li>
        <a ng-click="listed ? expandAll() : collapseAll()">
          {{listed ? 'Expand Operations' : 'List Operations'}}
        </a>
      </li>
    </ul>
  </header>
  <ul class='operations' ng-class="{collapsed: collapsed}">
    <operation ng-repeat="(operationName, operation) in path"></operation>
  </ul>
</li>

