<li class="path" ng-init="pathIsListed = false; pathIsHidden = false;">
  <header>
    <h2>
      <a href="">{{pathName}}</a>
    </h2>
    <ul class='options'>
      <li>
        <a ng-click="pathIsHidden = !pathIsHidden">
          {{pathIsHidden ? 'Show' : 'Hide'}}
        </a>
      </li>
      <li class="divider">|</li>
      <li>
        <a ng-click="toggleListed()">
          {{pathIsHidden ? 'List Operations' :
            pathIsListed ? 'Expand Operations' : 'List Operations'}}
        </a>
      </li>
    </ul>
  </header>
  <ul class='operations' ng-class="{collapsed: collapsed}">
    <operation ng-repeat="(operationName, operation) in path"></operation>
  </ul>
</li>

