<li class="resource" id="resource_{{resource.name}}">
  <div class='heading'>
    <h2>
      <a ng-click="show = !show">{{resource.name}}</a>
      : {{resource.description}}
    </h2>
    <ul class='options'>
      <li>
        <a href='#/{{resource.id}}'
        ng-click="show = !show">Show/Hide</a>
      </li>
      <li>
        <a ng-click="collapseAll()">
          List Operations
        </a>
      </li>
      <li>
        <a ng-click="expandAll()">
          Expand Operations
        </a>
      </li>
    </ul>
  </div>
  <ul class='endpoints' ng-class="{hidden: !show}">
    <li class="endpoint">
      <ul class='operations'>
        <operation ng-repeat="operation in resource.operationsArray"></operation>
      </ul>
    </li>
  </ul>
</li>

