<li class="resource">
  <div class='heading'>
    <h2>
      <a ng-click="collapsed = !collapsed">{{resource.resourcePath}}</a> : {{resource.description}}
    </h2>
    <ul class='options'>
      <li>
        <a href='#/{{resource.id}}'
        ng-click="collapsed = !collapsed">
          {{collapsed ? 'Show' : 'Hide'}}
        </a>
      </li>
      <li>
        <a ng-click="listed ? expandAll() : collapseAll()">
          {{listed ? 'Expand Operations' : 'List Operations'}}
        </a>
      </li>
    </ul>
  </div>
  <ul class='endpoints' ng-class="{collapsed: collapsed}">
    <li class="endpoint">
      <ul class='operations'>
        <div ng-repeat="api in resource.apis">
          <operation ng-repeat="operation in api.operations"></operation>
        </div>
      </ul>
    </li>
  </ul>
</li>

