<span class="model-signature" >
  <span ng-if="isPrimitive">{{type}}</span>
  <div ng-if="!isPrimitive">
    <div>
      <ul class="signature-nav">
        <li><a class="description-link" ng-click="visibilePane = 0">Model</a></li>
        <li><a class="snippet-link" ng-click="visibilePane = 1">Model Schema</a></li>
      </ul>
      <div>
        <div class="signature-container">
          <div ng-repeat="model in models" class="description" ng-show="visibilePane == 0">
            <strong>{{model.name}} {</strong>
            <div ng-repeat="property in model.properties" ng-bind-html="property.toString()">
            </div>
            <strong>}</strong>
          </div>
          <div class="snippet" ng-show="visibilePane == 1">
            <pre><code>{{sampleJSON}}</code></pre>
            <small class="notice"></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</span>
