# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: SwaggerEditor@next build

on:
  push:
    branches: [ next ]
  pull_request:
    branches: [ next ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true

      - name: Use Node.js 22
        uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: npm
          cache-dependency-path: package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Lint commit message
        if: github.ref != 'refs/heads/next' && github.actor != 'dependabot[bot]'
        run: git log -1 --pretty=format:"%s" | npx commitlint

      - name: Lint code
        run: npm run lint

      - name: Unit tests
        run: npm test
        env:
          CI: true

      - name: Build App artifacts
        run: npm run build:app

      - name: Upload build artifacts
        if: github.ref == 'refs/heads/next'
        uses: actions/upload-artifact@v5
        with:
          name: build
          path: ./build

      - name: E2E Tests
        run: npm run cy:ci
